@media (max-width:990px) {

    .col {
        width: 100%;
    }

    .nav__links {

        display: none;
    }

    .operations__tab {
        padding: 0.25rem 2.5rem;
    }
}

@media (max-width:550px) {
    header h1 {
        font-size: 2rem;
    }

    .operations__tab {
        margin: 2rem;
        width: 100%
    }

    header p {
        font-size: 15px;
    }
    .operations__tab {
        padding: 1rem;
    }

}