@media (max-width:990px) {

    .col {
        width: 100%;
    }

    .nav__links {

        display: none;
    }

    .operations__content {
        padding: 0 2rem 3.5rem;
    }

    .operations__tab {
        padding: 0.25rem 2.5rem;
    }

    .operations__icon {
        width: 5rem;
        height: 5rem;
    }

    .operations__header {
        font-size: 2rem;
    }
}

/* mobile devices */
@media (max-width:550px) {
    header h1 {
        font-size: 2rem;
    }

    .operations__tab {
        margin: 2rem;
        width: 100%
    }

    header p {
        font-size: 15px;
    }

    .operations__tab {
        padding: 1rem;
    }

    .operations__icon {
        width: 4rem;
        height: 4rem;
    }

    .operations__content {
        display: block;
        margin-bottom: 2rem;
        padding: 0px;
    }

    .operations__header {
        font-size: 1.7rem;
    }

    .operations__content p {
        font-size: 1.2rem;
    }
}